.featureGrid {
    display: inline-grid;

    grid-template-rows: repeat(2, fit-content(100%));
    grid-template-columns: repeat(3, fit-content(100%));
}

.feature1 {
    grid-row: 1 / span 1;
grid-column: 1 / span 1;
}

.feature2 {
    grid-row: 1 / span 1;
grid-column: 2 / span 1;
}

.feature3 {
    grid-row: 1 / span 1;
grid-column: 3 / span 1;
}

.feature4{

grid-row: 2 / span 1;
grid-column: 1 / span 2;
}
.feature5 {
    grid-row: 2 / span 1;
grid-column: 3 / span 1;
}